@using LearningWebsite.Models.Db.Models
@using LearningWebsite.Models.DbModels
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>



<body>
<div class="container body-content">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <i class="glyphicon glyphicon-home"></i> Home
                    </a>
                </div>

                <div class="navbar-header">

                    <a class="navbar-brand">
                        @{
                            string username = "";

                            if (!string.IsNullOrEmpty(Model.UserViewModel.UserName))
                            {
                                username = "Welcome " + Model.UserViewModel.UserName + "!";
                            }
                        }

                        @username
                    </a>
                </div>

                <div class="collapse navbar-collapse"
                     id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="@Url.Action("Index", "Course")">
                                <i class="glyphicon glyphicon-th-list"></i> Courses
                            </a>
                        </li>

                        @if (Model.UserViewModel.Role != Role.Guest)
                        {
                            if (Model.UserViewModel.Role == Role.Admin)
                            {
                                <li class="dropdown">
                                    <a id="modal-AddCourse"
                                       href="#AddCoursePopup" role="button" class="btn "
                                       data-toggle="modal" aria-hidden="true">
                                        <i class="glyphicon glyphicon-plus"></i>Add Course
                                    </a>
                                </li>

                                <li class="dropdown">
                                    <a id="modal-AddCourse"
                                       href="@Url.Action("Index", "Account")" role="button" class="btn" aria-hidden="true">
                                        <i class="glyphicon glyphicon-th-list"></i> Users
                                    </a>
                                </li>
                            }

                            <li class="dropdown">
                                <a href="@Url.Action("GetFavorites", "Course")">
                                    <i class="glyphicon glyphicon-star"></i> Favorite Courses
                                </a>
                            </li>

                            <li class="dropdown">
                                <a href="#modal-container-logout"
                                   data-toggle="modal">
                                    <i class="glyphicon glyphicon-share-alt"></i> Logout
                                </a>
                            </li>

                            <li class="dropdown">
                                <a id="modal-AddCourse"
                                   href="#modal-container-delete-user" role="button" class="btn "
                                   data-toggle="modal" aria-hidden="true">
                                    <i class="glyphicon glyphicon-trash"></i> Delete Account
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <a href="#modal-container-signin" data-toggle="modal">
                                    <i class="glyphicon glyphicon-log-in"></i> Login
                                </a>
                            </li>

                            <li class="dropdown">
                                <a href="#modal-container-signup"
                                   data-toggle="modal">
                                    <i class="glyphicon glyphicon-share-alt"></i> Register
                                </a>
                            </li>


                        }
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<!--Popups signup and signin -->
<div class="modal fade" id="modal-container-signup" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"
                    style="text-align: left;">
                    Sign Up
                </h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("Singup", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
                {
                    <div class="form-group">
                        <label for="nameInput" class="col-sm-2 control-label">
                            User Name
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nameInput" name="PersonName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="userInput" class="col-sm-2 control-label">
                            Email
                        </label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="userInput" name="UserName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">
                            Password

                        </label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control"
                                   id="inputPassword" name="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10"
                             style="text-align: left;">
                            <button type="submit" class="btn btn-default active">
                                Sign up
                            </button>
                            <button type="submit" class="btn btn-default active" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-signin" role="dialog"
     aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel2"
                    style="text-align: left;">
                    Login
                </h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
                {
                    <div class="form-group">

                        <label for="inputUser" class="col-sm-2 control-label">
                            Username
                        </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="inputUser" name="UserName" required>
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="inputPassword" class="col-sm-2 control-label">
                            Password
                        </label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="inputPassword" name="Password" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <button type="submit" class="btn btn-default active">
                                Sign in
                            </button>
                            <button type="submit" class="btn btn-default active" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-container-logout" role="dialog"
     aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-dialog" id="myModalLabel3"
                    style="text-align: left;">
                    Are you sure you want to logout?
                </h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
                {
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <button type="submit" class="btn btn-default active">
                                Logout
                            </button>
                            <button type="submit" class="btn btn-default active" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="AddCoursePopup"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        Add Course
                    </h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Add", "Course", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                    {
                        <div class="form-group">

                            <label for="inputName" class="col-sm-2 control-label">
                                Name
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="inputName" required name="Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-4">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-default">
                                    Save
                                </button>
                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>
    </div>

<div class="modal fade" id="modal-container-delete-user" role="dialog"
     aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-dialog" id="myModalLabel3"
                    style="text-align: left;">
                    Are you sure you want to delete your own account?
                </h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("Delete", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
                {
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <button type="submit" class="btn btn-default active">
                                Confirm
                            </button>
                            <button type="submit" class="btn btn-default active" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div style="min-height: 600px;">
    @RenderBody()
</div>
<div >
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Learning Website 1.0 </p>
    </footer>
</div>

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
