@using LearningWebsite.Models.Db.Models
@using LearningWebsite.Models.DbModels
@model LearningWebsite.Models.ViewModels.CourseResultViewModel

@{
    ViewBag.Title = "Course Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Course Details!</title>

</head>
<body>



<div class="container-fluid">
<div class="row">
    <div class="col-sm-12" style="padding-left: 0">
        <form class="form-horizontal" role="form">
            <div class="form-group">

                <label for="inputName" class="col-sm-1 control-label" style="text-align: left; padding-left: 30px">
                    <span >Name</span>
                </label>
                <div class="col-sm-4">
                    <input type="text" readonly="true" class="form-control"
                           id="inputName" value="@Model.Course.Name" style="text-align: left;">
                </div>
                @if (@Model.UserViewModel.Role != Role.Guest)
                {

                    string txt = "Add to Favorites";
                    if (Model.Course.IsFavorite)
                    {
                        txt = "Remove from Favorites";
                    }


                    <a id="addFavorites" style="font-size: 18px"
                       href="@Url.Action("AddToFavorites", "Course", new {id = @Model.Course.Id})" role="button" class="btn"
                       data-toggle="modal">
                        <i class="glyphicon glyphicon-star"></i>@txt
                    </a>
                }

                @if (@Model.UserViewModel.Role == Role.Admin)
                {
                    <a id="modal-ConfCourseRemove" href="#CourseConfirmationRemove" role="button" style="font-size: 18px"
                       class="btn " data-toggle="modal" aria-hidden="true">
                        <i class="glyphicon glyphicon-trash"></i>Remove Course
                    </a>
                }
            </div>
        </form>
    </div>
</div>
<div class="row">
<div class="col-md-9">
<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title" style="text-align: center">
        Course Materials
    </h3>
</div>
<div class="panel-body">
<table class="table table-hover">
<thead>
<tr>
    <th>Title</th>
    <th>Average Rate</th>
    <th>Rate</th>
    <th>Tags</th>
    <th>
        @if (@Model.UserViewModel.Role != Role.Guest)
        {
            <a id="modal-AddCourseMaterial"
               href="#AddCourseMaterialPopup" role="button" class="btn "
               data-toggle="modal" aria-hidden="true">
                <i class="glyphicon glyphicon-plus"></i>
            </a>

            <div class="modal fade" id="AddCourseMaterialPopup"
                 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    @using (Html.BeginForm("Add", "CourseMaterial", FormMethod.Post, new {@class = "form-horizontal", @role = "form"}))
                    {
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">
                                    Add Course
                                    Material
                                </h4>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">

                                    <label for="inputName" class="col-sm-2 control-label">
                                        Name
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="inputName" required
                                               name="Title">
                                    </div>
                                </div>

                                <div class="form-group">

                                    <label for="inputContent" class="col-sm-2 control-label">
                                        Content
                                    </label>
                                    <div class="col-sm-6">
                                        <textarea id="inputContent" name="Content" rows="5" class="form-control" required></textarea>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <label for="inputTag" class="col-sm-2 control-label">
                                        Tag
                                    </label>
                                    <div class="col-sm-6">
                                        <input id="inputTag" type="text" class="form-control" name="Tags"/>
                                    </div>


                                </div>
                                <div class="form-group hidden">
                                    @Html.Hidden("courseId", Model.Course.Id);
                                </div>
                                
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-default">
                                    Save
                                </button>
                            </div>
                        </div>
                    }
                </div>

            </div>
        }
    </th>
</tr>
</thead>
<tbody>
@foreach (var courseMaterial in @Model.Course.CourseMaterials)
{
    string name = courseMaterial.Rating + ".gif";
    string ratingPopupX = "#ratingPopup" + courseMaterial.Id;
    string ratingPopupY = "ratingPopup" + courseMaterial.Id;
    string removePopupX = "#removePopup" + courseMaterial.Id;
    string removePopupY = "removePopup" + courseMaterial.Id;
    string s = "";
    if (Model.UserViewModel.Role == Role.Guest)
    {
        s = " disabled";
    }

    string x = "#AddTagsPopup" + courseMaterial.Id;
    string xx = "AddTagsPopup" + courseMaterial.Id;
    string readOnly = "";

    if (@Model.UserViewModel.Role != Role.Admin)
    {
        readOnly = " readonly";
    }
    <tr >
        <td onclick="location.href = '@(Url.Action("Details", "CourseMaterial", new {id = courseMaterial.Id}))'" style="cursor: pointer">
           @courseMaterial.Title
        </td>
        <td onclick="location.href = '@(Url.Action("Details", "CourseMaterial", new {id = courseMaterial.Id}))'" style="cursor: pointer">
         <img src="@Url.Content($"~/Content/Images/starts_rating/Stars{name}")"/>
        </td>
        <td>
                <a id="modal-Rate" href="@ratingPopupX" role="button"
                   class="btn active btn-primary @s" data-toggle="modal"

                   aria-hidden="true">Rate
                </a>
                <div class="modal fade" id="@ratingPopupY" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        @using (Html.BeginForm("Rate", "CourseMaterial", FormMethod.Post, new {@class = "form-horizontal", @role = "form"}))
                        {
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">
                                        Rating
                                        Course!
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">

                                        <label for="inputName" class="col-sm-2 control-label">
                                            Title
                                        </label>
                                        <div class="col-sm-6">
                                            <input type="text" readonly="readonly" class="form-control"
                                                   id="inputName" name="title" value="@courseMaterial.Title"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputRate" class="col-sm-2 control-label">
                                            Rate
                                        </label>
                                        <div class="col-sm-6">
                                            <input id="inputRate" type="number" min="1" max="5"
                                                   value="@courseMaterial.Rating" class="form-control" name="Rating"/>
                                        </div>
                                        <div class="hidden">
                                            <input type="hidden" value="@courseMaterial.Id" name="courseMaterialId"/>
                                            <input type="hidden" value="@Model.Course.Id" name="courseId"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-default">
                                        Save
                                    </button>
                                </div>

                            </div>
                        }
                    </div>

                </div>
        </td>
        
        <td>
                <a id="modal-AddTags"
                   href="@x" role="button" class="btn "
                   data-toggle="modal" aria-hidden="true">
                    <i class="glyphicon glyphicon-tags"></i>
                </a>
                <div class="modal fade" id="@xx"
                     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                    <div class="modal-dialog">
                        @using (Html.BeginForm("Tag", "CourseMaterial", FormMethod.Post, new {@class = "form-horizontal", @role = "form"}))
                        {
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">
                                        Add Tags
                                    </h4>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group">

                                        <label for="inputTag" class="col-sm-2 control-label">
                                            Tags
                                        </label>
                                        <div class="col-sm-6">
                                            <input id="inputTag" value="@string.Join(" ", courseMaterial.Tags)" name="Tags" type="text" class="form-control" @readOnly/>
                                        </div>

                                        <div class="hidden">
                                            <input type="hidden" value="@courseMaterial.Id" name="courseMaterialId"/>
                                            <input type="hidden" value="@Model.Course.Id" name="courseId"/>
                                        </div>
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    @if (Model.UserViewModel.Role == Role.Admin)
                                    {
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Cancel
                                        </button>
                                        <button type="submit" class="btn btn-default">
                                            Save
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Close
                                        </button>
                                    }

                                </div>
                            </div>
                        }
                    </div>

                </div>

        </td>
        <td>
            @if (@Model.UserViewModel.Role == Role.Admin)
            {
                <a id="modal-ConfRemCourse"
                   href="@removePopupX" role="button" class="btn"
                   data-toggle="modal"><i class="glyphicon glyphicon-trash"></i></a>

                <div class="modal fade" id="@removePopupY"
                     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="removeCourseLabel">
                                    Remove
                                    Confirmation!
                                </h4>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to remove
                                it?
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">
                                    No
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                        onclick="location.href = '@(Url.Action("Remove", "CourseMaterial", new {courseMaterialId = courseMaterial.Id, courseId = Model.Course.Id}))'">
                                    Yes
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

            }

        </td>
    </tr>
}
</tbody>
</table>
</div>

</div>



</div>
<div class="col-md-3">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                @{ int postCount = Model.Course.DiscusionBoard.Posts.Count;}
                <span class="badge pull-right">@postCount</span> Discusion Board
                @if (Model.UserViewModel.Role != Role.Guest)
                {
                    <a id="modal-AddPost" href="#AddPostPopup" role="button" class="btn" data-toggle="modal">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                }

            </h3>
        </div>
        <div class="panel-body">
            @{
                int pos = 1;
                foreach (var post in @Model.Course.DiscusionBoard.Posts)
                {
                    string deletePopupX = "#ConfirmationRemove" + post.Id;
                    string deletePopupY = "ConfirmationRemove" + post.Id;
                    string s = "success";
                    if (pos%2 == 0)
                    {
                        s = "info";
                    }
                    <div class="alert alert-dismissable alert-@s">
                        @if (Model.UserViewModel.Role == Role.Admin)
                        {
                            <a id="modal-947255" href="@deletePopupX" role="button"
                               class="btn close" data-toggle="modal" aria-hidden="true">
                                x
                            </a>
                        }
                        <h6>
                            <strong> @post.DateAdded </strong>
                        </h6>
                        <h4>@post.PostedBy.UserName</h4>
                        @post.Content

                        <div class="modal fade" id="@deletePopupY" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">
                                            Remove
                                            Confirmation!
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to remove
                                        it?
                                    </div>
                                    <div class="modal-footer">

                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">
                                            No
                                        </button>
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal" onclick="location.href = '@(Url.Action("RemovePost", "CourseDetails", new {postId = post.Id}))'">
                                            Yes
                                        </button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    pos++;
                }
            }
        </div>

    </div>

</div>
</div>


<div class="modal fade" id="AddPostPopup" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("AddPost", "CourseDetails", FormMethod.Post, new {@class = "form-horizontal", @role = "form"}))
            {
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Add Post</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">

                        <label for="inputName" class="col-sm-2 control-label">
                            Content
                        </label>
                        <div class="col-sm-6">
                            <textarea rows="5" class="form-control" name="content" required></textarea>
                        </div>

                        <div class="hidden">
                            @Html.Hidden("courseId", Model.Course.Id);
                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            }
        </div>

    </div>

</div>


<div class="modal fade" id="CourseConfirmationRemove" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Remove
                    Confirmation!
                </h4>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this course?
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    No
                </button>
                <button type="button" class="btn btn-default" onclick="location.href = '@(Url.Action("Remove", "Course", new {id = Model.Course.Id}))'">
                    Yes
                </button>
            </div>
        </div>

    </div>

</div>
</div>


</body>
</html>
