@model LearningWebsite.Models.ViewModels.CourseMaterialDetail
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Course Material Details!</title>

</head>
<body>



<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="padding-left: 0">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Course Materials Details
                    </h3>
                </div>
                <div class="panel-body">
                    <div style="float: right">
                        @Html.ActionLink("Go to Course", "GoToCourse", new { id = Model.CourseMaterial.courseId })
                    </div>
                    <div id="CoursesMaterialRegion" style="margin-top: 10px">



                        <form class="form-horizontal" role="form" style="margin-top: 5px">
                            <div class="form-group">

                                <label for="inputTitle" class="col-sm-2 control-label">
                                    Title
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputTitle" readonly="readonly" value="@Model.CourseMaterial.Title">
                                </div>
                            </div>
                            <div class="form-group">

                                <label for="inputTitle" class="col-sm-2 control-label">
                                    Posted By
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputTitle" readonly="readonly" value="@Model.CourseMaterial.PostedBy">
                                </div>
                            </div>
                            <div class="form-group">

                                <label for="inputContent" class="col-sm-2 control-label">
                                    Content
                                </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="inputContent" rows="5" readonly="readonly">
                                            @Model.CourseMaterial.Content
                                        </textarea>
                                </div>
                            </div>
                            <div class="form-group">

                                <label for="inputTitle" class="col-sm-2 control-label">
                                    Raiting
                                </label>
                                <div class="col-sm-10">
                                    @{
                                        string name = Model.CourseMaterial.Rating + ".gif";
                                    }
                                    <img src="@Url.Content($"~/Content/Images/starts_rating/Stars{name}")"/>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
